venv/
env/
.venv
.conda/
/local/
pycache/
*.py[cod]
*$py.class
*.pyd
*.so
*.egg
*.whl
.mypy_cache/
.pytest_cache/
.streamlit/
.ipynb_checkpoints
/data_cache/
__pycache__/
.vscode/
.idea/
*.iml
*.iws
*.ipr
.DS_Store
Thumbs.db
*~
*.log
*.tmp